.card {
  border-radius: 12px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

h3.card-text {
  font-weight: 600;
}

.card-title {
  font-weight: 500;
  letter-spacing: 0.5px;
}
